*{
    text-align: center;
}

body{
    width:70%;
    margin:auto;
    margin-top: 2%;
}

h1{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(190, 218, 243);
    margin-bottom:3%;
}

h2{
    background-color:lightblue; 
    width:50%;
    margin:auto;
    margin-bottom:1%;
}

p{
    background-color: #fee8e8;
    margin-bottom:1%;
}

select{
    margin-top:1%;
    border-radius: 23%;
    border:none;
background-color: blanchedalmond;
}
